:root {
  --primary_color: #fc7f09;
  --primary_color_light: #fffcfa;
  --primary_color_dark: #db6e09;
  --text_light: #6b7280;
  --text_dark: #18181b;
  --white: #ffffff;
  --max_width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary_color);
}

.logo a span {
  color: var(--text_dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s linear;
}
ul {
  list-style: none;
}

/*navigation*/
nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 0;
}

.nav_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary_color);
}

.nav_logo a {
  color: var(--white);
  display: flex;
}

.nav_menu_btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav_links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary_color_light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}
.nav_links.open {
  transform: translateY(0);
}

.nav_links a {
  font-weight: 500;
  color: var(--primary_color);
}
.nav_links a hover {
  color: var(--text_dark);
}

.nav_menu_btn {
  display: none;
}

/*nav responsiveness*/

@media (width>768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max_width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav_header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }
  .nav_logo a {
    color: var(--primary_color);
  }
  .nav_menu_btn {
    display: none;
  }

  .nav_links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav_links a {
    color: var(--text_dark);
  }
  .nav_links a:hover {
    color: var(--primary_color);
  }

  .nav_btn {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  .nav_btn .btn {
    padding: 8px 10px;
    font-size: 1.5rem;
    border-radius: 100%;
  }
}

/* header*/

.header_container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header_image img {
  max-width: 600px;
  margin-inline: auto;
}

.header_content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text_dark);
  text-align: center;
}
.header_content h1 span {
  color: var(--primary_color);
}
.header_content .section_descriptin {
  margin-bottom: 2rem;
}

.header_btn {
  text-align: center;
}

/* header responsiveness*/
@media (width>768px) {
  .section_container {
    min-width: var(--max_width);
    margin: auto;
    padding: 5rem 1rem;
  }

  .section_description {
    color: var(--text_light);
    line-height: 1.75rem;
    text-align: center;
  }
  .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary_color);
    border-radius: 10px;
    transition: 0.3;
    cursor: pointer;
  }

  .header_container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
  }
  .header_image {
    max-width: 600px;
    margin-inline: auto;
  }

  .header_content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text_dark);
    text-align: center;
  }
}

/* Special dishes*/
.section_header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  color: var(--text_dark);
}

.section_container:is(.section_header, .section_description) {
  max-width: 600px;
  margin-inline: auto;
}

.special_grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}
/*
.section_description {
  color: var(--text_light);
  line-height: 1.75rem;
  text-align: center;
}


.special_container {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}*/

h2 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text_dark);
  text-align: center;
}

.special_card {
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  transition: 0.3s linear;
}

.special_card :hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.special_card img {
  max-width: 200px;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 1rem;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.1));
}

.special_card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text_dark);
}

.special_card p {
  margin-bottom: 0.5rem;
  color: var(--text_light);
  line-height: 1.75rem;
}

.special_ratings {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: goldenrod;
}

.special_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.special_footer .price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text_dark);
}

@media (width>540px) {
  .special_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width>768px) {
  .special_grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}
/* Explore section*/
.section_container_explore {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.explore_image img {
  max-width: 400px;
  margin-inline: auto;
  filter: drop-shadow(0 0 50px rgba(252, 127, 9, 1));
}

.explore_content {
  margin-bottom: 2rem;
}

.section_description {
  margin-bottom: 2rem;
}

.explore_btn {
  text-align: center;
}

@media (width>768px) {
  .section_container_explore {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .explore_content .section_header {
    max-width: 500px;
  }

  .explore_content :is(.section_header, .section_description, .explore_btn) {
    text-align: left;
  }
}

/* banner*/

.banner_container {
  display: grid;
  gap: 1 rem;
}

.banner_card {
  padding: 2rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  transition: 0.3s;
}

.banner_card hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.banner_card .banner_icon {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 2rem;
  color: var(--white);
  border-radius: 1rem;
}

.banner_card:nth-child(1) .banner_icon {
  background-color: chartreuse;
  box-shadow: 5px 5px 30px chartreuse;
}
.banner_card:nth-child(2) .banner_icon {
  background-color: rgba(101, 10, 186);
  box-shadow: 5px 5px 30px rgba(101, 10, 186);
}
.banner_card:nth-child(3) .banner_icon {
  background-color: goldenrod;
  box-shadow: 5px 5px 30px goldenrod;
}

.banner_card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font: 600;
  color: var(--text_dark);
}

.banner_card p {
  color: var(--text_light);
  margin-bottom: 1rem;
  line-height: 1.75rem;
}

.banner_card a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 500;
  transform: 0.3s;
  color: var(--primary_color);
}

.banner_card a span {
  font-size: 1.25rem;
  transition: 0.3s;
}

.banner_card p:hover span {
  transform: translateX(5px);
}
@media (width>540px) {
  .banner_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width>1024px) {
  .banner_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* chef  */

.chef {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.chef_bg {
  position: absolute;
  z-index: -1;
  max-width: 275px;
  left: -4rem;
  bottom: -2rem;
}
.chef_container {
  padding-bottom: 10rem;
  display: grid;
  gap: 2rem;
}

.chef_container .section_description {
  margin-bottom: 1rem;
}

.chef_image {
  position: relative;
  isolation: isolate;
}
.chef_image img {
  max-width: 500px;
  border-radius: 100%;
  margin-inline: auto;
}

.chef_image ::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50);
  height: 100%;
  width: 100%;
  max-width: 500px;
  background-color: var(--primary_color);
  border-radius: 100%;
  z-index: -1;
}

.chef_list {
  display: grid;
  gap: 0.5rem;
}

.chef_list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: var(--text_dark);
}

.chef_list span {
  font-size: 1.5rem;
}

.chef_list li:nth-child(1) span {
  color: chartreuse;
}
.chef_list li:nth-child(3) span {
  color: rgba(101, 10, 186);
}
.chef_list li:nth-child(3) span {
  color: goldenrod;
}

@media (width>768px) {
  .chef_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .chef_image {
    grid-area: 1/2/2/3;
  }

  .chef_content :is(.section_header, .section_description) {
    text-align: left;
  }

  .chef_list li {
    justify-content: flex-start;
  }
}

@media (width>1024px) {
  .chef_bg {
    max-width: 375px;
  }
}

/* Testimonial */

.testimonial_section {
  max-width: 800px;
  margin: auto;
  padding: 3rem 1rem;
  text-align: center;
}

.testimonial_container {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 10px 0;
  display: flex;
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box;
}

.testimonial_card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 4px 40px rgba(255, 140, 0, 0.1);
  border: 2px solid red;
  border-image-slice: 1;
  opacity: 1;
  transform: scale(0.98);
  transition: all 0.5s ease-in;
  margin: auto;
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial_card.fade {
  opacity: 0;
}

.testimonial_card active {
  opacity: 1;
  transform: scale(1);
  position: relative;
}

.testimonial_card p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.testimonial_card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.testimonial_card h4 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  color: #000;
}

.testimonial_card h5 {
  font-size: 0.95rem;
  color: #6b7280;
  font-weight: 500;
}
.dots {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 8px;
}

.dots span {
  width: 10px;
  height: 10px;
  background-color: #dcdcdc;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.dots span.active {
  background-color: #db6e09;
}

/* Footer  */
.footer {
  background-color: var(--primary_color_light);
}

.footer_logo {
  margin-bottom: 1rem;
}

.footer_col,
.section_description {
  text-align: left;
}

.footer_col h4 {
  margin-bottom: 1rem;
  font-size: 1 2rem;
  font-weight: 600;
  color: var(--text_dark);
}

.footer_links {
  display: grid;
  gap: 0 75rem;
}
.footer_links a {
  color: var(--text_light);
}

.footer_links a:hover {
  color: var(--primary_color);
}
.footer_bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text_light);
  text-align: center;
}

.footer_container {
  display: grid;
  gap: 2rem;
}

@media (width>540px) {
  .footer_container {
    grid-template-columns: repeat(3, 2fr);
  }
}

@media (width>768px) {
  .footer_container {
    grid-template-columns: 2fr repeat(3, 1fr);
  }
}
